
.card-body{
    border-top-width: 0.5px;
    border-top-color: rgb(200, 204, 203);
    border-top-style:solid;
  }

  
 .dropdown-menu {
    min-width: 3rem; /* Decrease the minimum width of the dropdown menu */
    font-size: 2rem; /* Optionally decrease the font size of the dropdown menu */
  }