{%extends 'base.html'%}

{% block content %}
<div class="row">
    <div class="col-md">
       <div class="card text-bg-light mb-3" style="width: 15rem;">
            <img  src = '{{product.image.url}}' class="card-img-top" alt="..." > 
        <div class="card-body">
            <h5 class="card-text">{{product.name}}</h5>
    <h6 class="card-text">
        <small class="text-body-secondary">
            {{product.price}}
        </small>
    </h6>
    <hr>
    <div align="right">
        <button type="button" class="btn btn-primary">Add to cart</button>
    </div>
        </div>
        
      </div>
    </div>
  </div>


{% endblock %}